@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 12px;
}

.grainy {
  background-image: url("/noise.png");
  background-repeat: repeat;
  background-size: 100px;
}

.shadow-card {
  box-shadow: 0 0.6021873017743928px 0.6021873017743928px -1.25px #0000002e,
    0 2.288533303243457px 2.288533303243457px -2.5px #00000029, 0 10px 10px -3.75px #00000010, 0 1px 2px #0000001f,
    0 0 2px #00000014;
}

a,
button {
  @apply outline-none focus-within:ring-2 focus-visible:ring-zinc-600 focus-visible:ring-offset-2;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
